<div id="product-detail-container">
    <kendo-tabstrip>
        <kendo-tabstrip-tab [title]="'General Infomations'" [selected]="true" [ngStyle]="{'overflow': hidden}">
          <ng-template kendoTabContent>
              <app-general-infomation [formGroup]="getdefaultFormGroup()" (onFormSubmit)="onSubmited($event)"></app-general-infomation>
          </ng-template>
        </kendo-tabstrip-tab> 
        <kendo-tabstrip-tab [title]="'Images'">
          <ng-template kendoTabContent>
            a
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Options'">
          <ng-template kendoTabContent>
            v
          </ng-template>
        </kendo-tabstrip-tab>
      </kendo-tabstrip>
</div>
